// Color Variables
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Prompt", sans-serif;
}
$background-color: #000;
$app-background: #fff;
$button-color: #0db7fa;
$button-hover-color: #b9b9b9;
$text-color: #000000;
$uploadColor: rgb(0, 191, 255);

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: $background-color;
    color: $text-color;
    // display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }

.button{
  cursor: pointer;
  border-radius: 25px;
  border: 3px solid #ddd;
  // display: inline-block;
  background: none;
  color: #ddd;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 30px;
  text-decoration: none;
  text-shadow: 0px 0px 13px #283966;
  width: auto; // Let buttons size to their content
  min-width: 120px; // Optional: Ensure a minimum width
  // display: inline-block;
  transition: all 0.3s ease;

  &:hover {
    color: $button-hover-color;
    background: none;
    border: 3px solid $button-hover-color;
  }
}

.button.greyed{
  cursor:default;
  color: #4b4b4b;
  border: 3px solid #615e5e;
}

.center-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
}

@media screen and (max-width: 800px){
  .center-container{
    margin-top: 300px;
  }
}

@media screen and (max-width: 1250px){
  .desktop__text{
      display:none;
  }
  .button{
    padding: 10px;
    border-radius: 25px;
  }
}
