@import "./global.scss";

.reset-password__body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $background-color;
}

.reset-password__form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: left;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.reset-password__success {
  font-size: 1rem;
  color: #28a745;
  background-color: #eaf7ea;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.reset-password__error {
  color: #ff4d4f;
  background-color: #ffeaea;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ff4d4f;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
}

.reset__buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.reset__button {
  width: 97%;
  display: inline-block;
  margin-top: 1rem;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.reset__button:hover {
  background-color: #0056b3;
}
