@use 'global.scss' as *;

.topbar{
    // display: flex;
    flex-direction: row;
    z-index: 3;
    background-color:rgba(70, 69, 69, 0.7);
    width: 100vw;
    height: 100px;
    // margin-top: 100px;
    position: sticky;
    top: 0;
    color: white;
}

.topbar__container{
    height: 100px;
    display: flex;
    // justify-content: space-between;

    // padding: 20px;
    *{
        margin: 0px 10px;
    }
}

.topbar__logo {
    margin-right: auto;
    
}

// .topbar__menu {
//    justify-content: center;
// }
.link__items{
    display:flex;
    flex-direction: row;
    margin-top: 45px;
    // margin:auto;
    li{
        list-style: none;
        margin: auto;
    }
}

