@use 'global.scss' as *;

.topbar{
    // display: flex;
    flex-direction: row;
    z-index: 0;
    background-color:red;
    width: 100vw;
}

.topbar__container{
    display: flex;
    justify-content: space-between;

    padding: 20px;
    
}
.topbar__logo {
    margin-right: auto;
}
.link__items{
    display:flex;
    flex-direction: row;
    li{
        list-style: none;
        margin: auto 15px;
    }
}

.topbar__menu {
    margin-left: auto;
    align-items: flex-end;
    justify-content: flex-end;
}