@use 'global.scss' as *;

.topbar{
    // display: flex;
    flex-direction: row;
    z-index: 3;
    background-color:red;
    width: 100vw;
    height: 90px;
    // margin-top: 100px;
    position: sticky;
    top: 0;
}

.topbar__container{
    display: flex;
    justify-content: space-between;

    padding: 10px;
    *{
        margin: 10px;
    }
}

.topbar__logo {
    margin-right: auto;
}
.link__items{
    display:flex;
    flex-direction: row;
    li{
        list-style: none;
        margin: auto 15px;
    }
}

.topbar__menu {
    margin-left: auto;
    align-items: flex-end;
    justify-content: flex-end;
}