@import './global.scss';

$uploadColor: #4CAF50;
$backgroundImageUrl: url('src/assets/blob.png');  

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  // background-image: $backgroundImageUrl;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 300px;
  background-color: #e0f7e0;
  padding: 20px;
}

.upload-title {
  font-size: 2.5rem;
  color: $uploadColor;
  margin-bottom: 20px;
  text-align: center;
}

.back-button {
  background-color: $uploadColor;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 30px;
  
  &:hover {
    background-color: darken($uploadColor, 10%);
  }
}

.upload-bar {
  border: 4px solid $uploadColor;
  background-color: $uploadColor;
  max-width: 95vw;
  margin: 10px;
  padding-top: 2px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .upload-title {
    font-size: 2rem;
  }
  
  .back-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
