// Variables
$background-color: #245526;
$button-color: #1d4d2f;
$button-hover-color: #87b8da;
$text-color: #333;

// General styles
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  position: relative; // positioning context
  width: 800px;
  height: 650px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-player {
  background: #93b3a1;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.control-button {
  padding: 10px 20px;
  background-color: $button-color;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: $button-hover-color;
  }
}

.upload-section {
  position: absolute; 
  top: 5px; 
  right: 10px;
}

.myButton {
      background-color:#7892c2;
      border-radius:19px;
      border:2px solid #4e6096;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Courier New;
      font-size:16px;
      font-weight:bold;
      padding:16px 31px;
      text-decoration:none;
      text-shadow:0px 0px 13px #283966;
  }
  .myButton:hover {
      background-color:#476e9e;
  }
  .myButton:active {
      position:relative;
      top:1px;
  }
  

